.App {
  text-align: center;
}
div#root {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
}
div#parent {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  height: 600px;
  width: 1100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}
div#rightChild {
  display: inline-block;
}
div#leftChild {
  display: inline-block;
}
div#formParent {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  height: 80px;
  width: 1100px;
  margin: 20px;
  margin-bottom: 0px;
}
div#form {
  display: inline-block;
}
.ResultDisplay {
  margin: 10px;
}
#Results {
  height:30px;
}
form {
  margin: 10px;
}
form input {
  width:300px;
  height:30px;
  font-size: 20px;
  margin-right: 5px;
}
form button {
  width:70px;
  height:35px;
  text-align: center;
}
table {
  text-align: left;
  background-color: #EE6666;
  margin: 10px;
  border: 3px solid #FF345E;
  width: 500px;
}
tr.tableChildren {
  border: 1px solid #000000;
  margin: 1px;
}
td,th {
  background-color: #FFEEEE;
  max-width: 150px;
  padding-left: 3px;
  overflow: hidden;
}
th {
  color: #5511FF;
}
p {
  margin:10px;
}
