.App {
  text-align: center;
}
div#root {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
}
div#parent {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  height: 600px;
  width: 1100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}

div#rightChild {
  display: inline-block;
}
div#leftChild {
  display: inline-block;
}
div#formParent {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  height: 80px;
  width: 1100px;
  margin: 20px;
  margin-bottom: 0px;
}
div#form {
  display: inline-block;
}

tr {
  margin-top: 2px;
  border: 1px solid #FF345E;
  text-align: left;
}

td {
  max-width: 150px;
  overflow: hidden;
}


.ResultDisplay {
  margin: 10px;
}

form {
  margin: 10px;
}

form input {
  width:300px;
  height:30px;
  margin-right: 5px;
}
form button {
  width:70px;
  height:35px;
  text-align: center;
}
table {
  margin: 10px;
  border: 3px solid #FF345E;
  width: 500px;
}

#Results {
  height:30px;
}

th {
  color: #5511FF;
}

p {
  margin:10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
